{% extends "base.html"%}
{% block css%}
  <link rel="stylesheet" href="/static/css/add.css"> 
{% endblock %}


<h1>Add Vehicle</h1>
{% with messages = get_flashed_messages()%}
  {%if messages%}
  <ul>
    {%for message in messages%}
      <li>
        {{message}}
      </li>
    {%endfor%}
  </ul>
  {%endif%}
{%endwith%}

<form method="POST" action="{{ url_for('add_vehicle')}}">
  {{ form.csrf_token}}
  <div class= "sf">{{form.platenum.label}} {{form.platenum(size=10)}}</div>
  <div class= "sf">{{form.vmodel.label}} {{form.vmodel(size=10)}}</div>
  <div class= "sf">{{form.vmake.label}} {{form.vmake(size=20)}}</div>
  <div class= "sf">{{form.vcolour.label}} {{form.vcolour(size=20)}}</div>
  <div class= "sf">{{form.seat_cap.label}} {{form.seat_cap(size=10)}}</div>
  <div class= "sf">{{form.vclass.label}} {{form.vclass(size=10)}}</div> 
  <input type="submit"/>
</form>
