{% extends "base.html"%}
{% block css%}
  <link rel="stylesheet" href="/static/css/add.css"> 
{% endblock %}

<h1>Add Operator</h1>
{% with messages = get_flashed_messages()%}
  {%if messages%}
  <ul>
    {%for message in messages%}
      <li>
        {{message}}
      </li>
    {%endfor%}
  </ul>
  {%endif%}
{%endwith%}

<form method="POST" action="{{ url_for('add_operator')}}">
  {{ form.csrf_token}}
  <div class= "sf">{{form.ofname.label}} {{form.ofname(size=10)}}</div>
  <div class= "sf">{{form.olname.label}} {{form.olname(size=10)}}</div>
  <div class= "sf">{{form.oadd1.label}} {{form.oadd1(size=20)}}</div>
  <div class= "sf">{{form.oadd2.label}} {{form.oadd2(size=20)}}</div>
  <div class= "sf">{{form.ocity.label}} {{form.ocity(size=10)}}</div>
  <div class= "sf">{{form.oparish.label}} {{form.oparish(size=10)}}</div>
  <div class= "if">{{form.otrn.label}} {{form.otrn(size=10)}}</div>
  <div class= "ef">{{form.oemail.label}} {{form.oemail(size=10)}}</div>
  <div class= "psf">{{form.opassword.label}} {{form.opassword(size=10,type="password")}}</div>
  <input type="submit" />
</form>
