{% extends "base.html"%}
{% block css%}
  <link rel="stylesheet" href="/static/css/add.css">
{% endblock %}
{%block main%}
<h1>Add Driver</h1>
{% with messages = get_flashed_messages()%}
  {%if messages%}
  <ul>
    {%for message in messages%}
      <li>
        {{message}}
      </li>
    {%endfor%}
  </ul>
  {%endif%}
{%endwith%}

<form method="POST" action="{{ url_for('add_driver')}}">
  {{ form.csrf_token}}
  <div class= "sf">{{form.dfname.label}} {{form.dfname(size=10)}}</div>
  <div class= "sf">{{form.dlname.label}} {{form.dlname(size=10)}}</div>
  <div class= "if">{{form.dcontact.label}} {{form.dcontact(size=10)}}</div>
  <div class= "ef">{{form.demail.label}} {{form.demail(size=10, type="email")}}</div>
  <div class= "pf">{{form.dpassword.label}} {{form.dpassword(size=10,type="password")}}</div>
  <div class= "sf">{{form.dadd1.label}} {{form.dadd1(size=20)}}</div>
  <div class= "sf">{{form.dadd2.label}} {{form.dadd2(size=20)}}</div>
  <div class= "sf">{{form.dcity.label}} {{form.dcity(size=10)}}</div>
  <div class= "sf">{{form.dparish.label}} {{form.dparish(size=10)}}</div>
  <div class= "sf">{{form.dtrn.label}} {{form.dtrn(size=10)}}</div>
  <input type="submit" />
</form>
{% endblock %}
