{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/driver.css"> 
{% endblock %}

{% block main %}

<label for='status'> Driver Status</label>
<button id='start'>Start</button>
<button id='stop'>Stop</button>
<!-- <select id="status">
    <option value="Offline">Offline</option>
    <option value="Availble">Available</option>
    <option value="Busy">Busy</option>
</select> -->

<h3> Job History </h3>
{{job_date}} {{job_time}}
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/js/driver.js"> </script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
{% endblock%}
