<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>

    <title>Geolocation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/map.css')}}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <div>
      <h1> Welcome To Your 1Stop Place For All Your Taxi Service Needs</h1>
      </div>
      <div class="mainc">
        <!-- <label id="p" for="pickup">Pick Up:</label> -->
        <div id="sl">
        <input id="pickup" class="controls" type="text" placeholder="Search Pickup Location">
        <i class="fa fa-search w3-large " id='psubmit' type="submit" value="search"> </i>
        </div>
        <!-- <label id="d" for="dest">Destination:</label> -->
        <div id="sd">
        <input id="dest" name="dest" class="controls" type="text" placeholder="Where to?">
        <i class="fa fa-search w3-large " id='dsubmit' type="submit" value="search"></i>
        </div>
        <div id="map"></div>
        <div id="req_form">
          <form method='POST' action='/request'>
            <label for="seating">No. of Persons</label>
            <select id="seat">
              <option value="1"> less than 4 </option>
              <option value="2">5-7</option>
              <option value="3">8-13</option>
              <option value="4">greater than 13</option>
            </select>
            <label for='type'>Vehicle Type</label>
            <select id="type">
              <option value="Classic">Classic</option>
              <option value="Regular">Regular</option>
              <option value="Regular">Any</option>
            </select>
            <label for="weight">Weighting factor</label>
            <select id="wfac">
              <option value="time">Time</option>
              <option value="type">Vehicle Type</option>
            </select>
            <p><label for='driverN'>Driver's Name</label>
            <input id='driverN' type="text" placeholder="DO you have a favourite driver" /> </p>
            <input type="submit" id="request" alt="Request Cab"  />
          </form>
        </div>
        <script type="text/javascript" src="{{url_for('static',filename='js/request.js')}}"></script>
        <script type="text/javascript" src= "{{url_for('static',filename='js/map.js')}}"></script>
      <script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDy8tt5vdmipUlu4mdbvtoaiXgqHSC4UkI&libraries=geometry,places&region=JM&callback=createMap">

      </script>
      </div>

    </body>

      <div id="map"></div>
      <div id="req_form">
        <form method='POST' action='/request'>
          <label for="seating">No. of Persons</label>
          <select id="seat">
            <option value="1"> less than 4 </option>
            <option value="2">5-7</option>
            <option value="3">8-13</option>
            <option value="4">greater than 13</option>
          </select>
          <label for='type'>Vehicle Type</label>
          <select id="type">
            <option value="Classic">Classic</option>
            <option value="Regular">Regular</option>
            <option value="Regular">Any</option>
          </select>
          <label for="weight">Weighting factor</label>
          <select id="wfac">
            <option value="time">Time</option>
            <option value="type">Vehicle Type</option>
          </select>
          <p><label for='driverN'>Driver's Name</label>
          <input id='driverN' type="text" placeholder="DO you have a favourite driver" /> </p>
          <input type="submit" id="request" alt="Request Cab"  />
        </form>
      </div>
      <script type="text/javascript" src="{{url_for('static',filename='js/request.js')}}"></script>
      <script type="text/javascript" src= "{{url_for('static',filename='js/map.js')}}"></script>
    <script async defer
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDy8tt5vdmipUlu4mdbvtoaiXgqHSC4UkI&libraries=geometry,places&region=JM&callback=createMap">
  </script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
  console.log("HERE!!")
  var socket = io.connect('http://' + 'localhost' + ':' + 8080);
  socket.on('connect', function() {
      socket.emit('my event', {data: 'I\'m connected!'})
      console.log("Connected!!");
  });
  </script>
</body>
</html>
